extends layout/app

block page
	include chunk/header
	main.main
		h1.visually-hidden Название компании

		include index/slider

		.content-flex
			include index/content-flex/news-sidebar
			include index/content-flex/main-content

	include chunk/footer