.main-footer{
	display: flex;
	justify-content: center;

	width: 100%;

	background-color: #767676;
}

.main-footer-wrap{
	display: flex;
	justify-content: space-between;
	width: 980px;

	margin-top: 45px;
	margin-bottom: 50px;
	margin-left: 10px;
	margin-right: 10px;
}

.main-footer__block{
	display: flex;
	justify-content: flex-start;

	flex-grow: 1;
}