.news-list{
	@include no-list-style;
	margin-top: 25px;
}
.news-list__item{
	font-size: 14px;
	line-height: 22px;
	font-weight: 300;
	font-style: italic;
	letter-spacing: 0.025em;
	color: $link-color;

	&:not(:last-child){
		margin-bottom: 23px;
	}
}
.news-list__text{
	@include text-reset;
	font-weight: 400;
	font-style: normal;
}