.news-sidebar{
	width: 350px;
	padding: 10px 55px 30px 30px;
	margin-right: 60px;
	background-color: #777777;
	color: #ffffff;
	box-sizing: border-box;
}
.news-sidebar__title{
	@include text-reset;

	font-family: 'PT Sans', sans-serif;
	font-size: 40px;
	line-height: 46px;
	font-weight: 700;
	letter-spacing: 0.025em;
}

.news-sidebar__link-wrap{
	display: flex;
	justify-content: flex-end;
	margin-top: 70px;
}
.news-sidebar__link{
	position: relative;
	display: block;

	color: $link-color;

	&::after{
		content: "";
		position: absolute;
		bottom: 3px;
		left: 0;

		width: 100%;
		height: 1px;

		background-color: $link-color;
	}

	&:hover::after,
	&:focus::after{
		transition: $transition-underline-links;
		transform: scale(0);
	}
}