.slider{
	margin-bottom: 47px;
}

.slider-img-block{
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.slider-img{
	display: flex;
	justify-content: center;
	width: 1400px;
	margin: 0 auto;
}