aside.news-sidebar
	header
		h2.news-sidebar__title Новости

	ul.news-list
		li.news-list__item
			time.news-list__date(datetime="2015-09-14") 14 сентября 2015 г.
			p.news-list__text Акция на входные двери Фалько!

		li.news-list__item
			time.news-list__date(datetime="2015-09-14") 14 сентября 2015 г.
			p.news-list__text Установка межкомнатных дверй в подарок при покупке 3-х полотен!

		li.news-list__item
			time.news-list__date(datetime="2015-09-14") 14 сентября 2015 г.
			p.news-list__text Новинка! Термо двери Форт!

		li.news-list__item
			time.news-list__date(datetime="2015-09-14") 14 сентября 2015 г.
			p.news-list__text Установка межкомнатных дверй в подарок при покупке 3-х полотен!

		li.news-list__item
			time.news-list__date(datetime="2015-09-14") 14 сентября 2015 г.
			p.news-list__text Новинка! Термо двери Форт!

	.news-sidebar__link-wrap
		a.news-sidebar__link(href="/") Архив акций