footer.main-footer
	.main-footer-wrap(itemprop="publisher" itemscope itemtype="https://schema.org/Organization")

		.main-footer__block
			section.contacts
				meta(itemprop="email" content="email@email.ru")
				header.contacts__title(itemprop="name") © 2012–2016 ЗАО «Компания»
				ul.contacts__list
					li.contacts__item
						a.contacts__link(href="mail:info@name.ru" itemprop="email") info@name.ru

			nav
				ul.nav-footer-list
					li.nav-footer-list__item
						a.nav-footer-list__link Главная
					li.nav-footer-list__item
						a.nav-footer-list__link Каталог
					li.nav-footer-list__item
						a.nav-footer-list__link Доставка и оплата
					li.nav-footer-list__item
						a.nav-footer-list__link Прайс-лист
					li.nav-footer-list__item
						a.nav-footer-list__link Контакты

		section.links
			a.links__link(href="/") Разработка сайта
			span —
			p.links__text(itemprop="name") компания «Шнайдер Консалт»
