header.header
	.main-header

		.header__wrap
			a.header__block.header__link(href="/")
				picture
					source(type="image/webp" srcset="assets/img/icon.webp")
					img(srcset="assets/img/icon.png" width="318" height="100" alt="Иконка сайта")


			section.header__block
				p.header__title Распродажа до 15.02.16!

			section.header__block
				p.header__tel
					a.header__tel-link(href="tel:+7 (343) 252-52-52") +7 (343) 252-52-52
				p.header__tel
					a.header__tel-link(href="tel:+7 (343) 252-52-52") +7 (343) 252-52-52

	nav.menu
		ul.nav-list
			li.nav-list__item
				a.nav-list__link Главная
			li.nav-list__item
				a.nav-list__link Каталог
			li.nav-list__item
				a.nav-list__link Доставка и оплата
			li.nav-list__item
				a.nav-list__link Прайс-лист
			li.nav-list__item
				a.nav-list__link Контакты
