header.header
	.main-header

		.main-header__wrap
			a.main-header__block.main-header__link(href="/")
				picture
					source(type="image/webp" srcset="assets/img/icon.webp")
					img(srcset="assets/img/icon.png" width="318" height="100" alt="Иконка сайта")


			section.main-header__block
				p.main-header__title Распродажа до 15.02.16!

			section.main-header__block
				p.main-header__tel
					a.main-header__tel-link(href="tel:+7 (343) 252-52-52") +7 (343) 252-52-52
				p.main-header__tel
					a.main-header__tel-link(href="tel:+7 (343) 252-52-52") +7 (343) 252-52-52

	nav.main-nav
		ul.nav-list
			li.nav-list__item
				a.nav-list__link Главная
			li.nav-list__item
				a.nav-list__link Каталог
			li.nav-list__item
				a.nav-list__link Доставка и оплата
			li.nav-list__item
				a.nav-list__link Прайс-лист
			li.nav-list__item
				a.nav-list__link Контакты
