.swiper.slider
	.swiper-wrapper
		.swiper-slide.slider__block
			picture.slider-img-block
				source(srcset="assets/img/slider1.webp" type="image/webp")
				img.slider-img(srcset="assets/img/slider1.png" width="1400" height="400" alt="")
		.swiper-slide.slider__block
			picture.slider-img-block
				source(srcset="assets/img/slider1.webp" type="image/webp")
				img.slider-img(srcset="assets/img/slider1.png" width="1400" height="400" alt="")
		.swiper-slide.slider__block
			picture.slider-img-block
				source(srcset="assets/img/slider1.webp" width="1400" height="400" type="image/webp")
				img.slider-img(srcset="assets/img/slider1.png" width="1400" height="400"  alt="")